# default owner for everything
* @payne0420

# desktop app
/Spotify_Downloader.py @payne0420
/Template.py @payne0420
/Template.ui @payne0420

# core providers
/spotifydown_api.py @payne0420

# scripts
/scripts/ @payne0420

# web app - backend
/web-app/setlist-backend/ @payne0420

# web app - frontend
/web-app/setlist-webclient/ @payne0420
/web-app/setlist-webclient/components/ @payne0420
/web-app/setlist-webclient/app/ @payne0420
/web-app/setlist-webclient/lib/ @payne0420

# github config
/.github/ @payne0420

# documentation
/README.md @payne0420
/CONTRIBUTING.md @payne0420
/SECURITY.md @payne0420
